<!-- 
AEM component

grecaptcha.execute method will return a token when we send site key and form action id. This 
token will be sent to back-end to validate with google server.

render=<site key>
-->
<script src="https://www.google.com/recaptcha/api.js?render=6LfOydwZAAAAAMckH5K5XJovNntBIQZISobhzlJ5"></script>
<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LfOydwZAAAAAMckH5K5XJovNntBIQZISobhzlJ5', {action: 'form_mclaren'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value=token;
        });
    });
</script>